#toast-container {
    top: 3rem !important;
    animation: fade-in 250ms ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}

.goodsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-content {
    flex-grow: 1;
}

.cart {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 1000;
    padding: 1rem;
}

@media (min-width: 767px) {
    .cart {
        top: 5.5rem;
        bottom: unset;
    }
}

.basket-list {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50rem;
    max-width: 95%;
    background-color: white;

    animation: show 500ms ease-in-out;
}

.basket-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: white;
    cursor: pointer;
}

.basket-delete {
    cursor: pointer;
}

@keyframes show {
    from {
        top: 70%;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}